/* Global Styles */
:root {
    --primary-color: #f9826c;
    --dark-color: #24292e;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Nav */
div.nav-wrapper {
    border-bottom: 1px solid black;
    background: var(--dark-color);
    color: white;
    padding: 0 40px;

}
.logo,
.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.notification.small {
    padding: 0 8px;
}
.space i {
    padding: 0 3px;
}
.notification i {
    font-size: 16px;
}
.logo i {
    font-size: 40px;
}
div.nav-wrapper {
    font-size: 14px !important;
}
div.nav-wrapper .nav {
    display: flex;
}

div.nav-wrapper .nav .search-nav .wrappers input[type=text],
.dropdown input[type=text] {
    padding: 18px 10px;
    color: white;
    height: 30px;
    background: var(--dark-color);
    border: 1px solid #586069;
    border-radius: 7px;
    width: 320px;
    position: relative;
    font-size: 17px;
}

div.nav-wrapper .nav .search-nav .wrappers {
    position: relative;


}
div.nav-wrapper .nav .search-nav .wrappers span {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    border: 1px solid #586069;
    padding: 1px 7px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 5px;


}

.dropdown input[type=text] {
    flex: 1;
    background: #fff;
    height: 40px;
    color: #000;
    border: 1px solid #e1e4e8;
}

div.nav-wrapper .nav div:nth-of-type(2) {
    flex: 2;
    display: flex;
    align-items: center;


}

.search-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.search-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: 400;
}

/* Tabs */
.tabs {
    padding-top: 1rem;
    border-bottom: 1px solid #e1e4e8;
    border-right: none;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background: white;
}

.tabs .container {
    display: flex;

}

.tabs p,
.tabs i {
    font-size: 16px;
    color: #586069;
    padding-top: 0.5rem;
}
.tabs i {
    margin-right: 10px;
}
.tabs .container > div {
    padding: 0.2rem 15px 1.0rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.tab-border {
    border-bottom: var(--primary-color) 2px solid;
}

/* Tab Content */
.tab-content {
    padding: 0;
    background: #fff;
    color: #000;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
    opacity: 0;
}

.show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
}

.list-grid {
    padding: 0;
    margin: 0;
}
#list-grid li {
     border-bottom: 1px solid #e1e4e8;
     text-align: left;
     list-style-type: none;

 }

.dropdown {
    /*border: 1px solid black;*/
    padding: 20px 0;
    border-bottom: 1px solid #e1e4e8;
    display: flex;

}
.dropdown.inline {
    /*border: 1px solid black;*/
   display: inline-flex;

}

.item-wrapper {
    align-items: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.item-wrapper .title a {
    font-size: 20px;
    margin-bottom: 20px;
    color: #428CE0 !important;
    text-decoration: none;
}
.item-wrapper .title a:hover {

    /*color: #428CE0 !important;*/
    text-decoration: underline;

}
.item-wrapper .title {
    font-size: 20px;
    margin-bottom: 20px;
    /*color: #428CE0 !important;*/
}
.item-wrapper .item-details {
    font-size: 12px;
    color: #586069;

}
.item-wrapper .item-details > span {
    margin-right: 20px;
}
.item-wrapper .item-details > span:nth-of-type(1) span {
    color: #586069;
}

.button {
    background: #F3F4F6;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
}
#badge {
    background: #F3F4F6;
    padding: 4px 5px;
    border-radius: 10px;
}
.content {
    display: flex;
    padding: 0 10px;
    justify-content: center;
}

.side {
    width: 23%;
    margin: -20px 20px;

}

.main {
    width: 67%;
    margin: 20px;
}
@media screen and (max-width: 700px) {
    .content {
        flex-direction: column;
    }
    .main {
        width: 100%;
    }
}
.avatar {
    vertical-align: middle;
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.avatar.small {
    vertical-align: middle;
    width: 30px;
    border-radius: 50%;
    position: relative;

}

.sky {
    margin-bottom: 25px;
    display: flex;
    position: relative;
}

.user--details .username {
    margin-bottom: 20px;
}
.user--details .username h2 {
    margin-bottom: 5px;
    font-size: 26px;
}
.user--details .username p {
    font-weight: 300;
    font-size: 20px;
}

.input-icons i {
    position: absolute;
    pointer-events: none;
    line-height: 27px;
}

.input-icons {
    position: absolute;
    top: 76%;
    left: 81%;
}

.icon {
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 50px;
    height: 52px;
    padding: 10px 10px 10px 35px;
    border-radius: 50px;
    text-align: center;
    transition: width 0.07s;
}

.input-field:hover {
    width: 120px;
    padding-left: 45px;


}
